<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body >

  <div class="container-fluid" >
    <div class="jumbotron text-center"style="background-color: #a8755e;" >
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>     

  <div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h3>Latest Mars News</h3>
    <h4>{{mars_data.news_title}}</h4>
    <span>{{mars_data.news_p}}
      <br><br>
    </span> 
        </div>
    </div>
    <br>
    
    <div class="row">

        <div class="col-md-8" style="padding:10px; border: solid; border-radius: 5px; border-width: thin; border-color: #bb7439;">

          <div class="col-md-12" style=" border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <h3>Featured Mars Image</h3><br>
            <img src="{{mars_data.featured_image_url}}" style="width: 100%; ">
          </div>

        </div>

        <div class="col-md-4">
            <div class="col-md-12" style="width: 100%; border: solid; border-radius: 5px; border-width: thin; padding: 5px;">
              <span class="col-md-12" style="font-weight: bold; font-size: 18px; ">Current Weather on Mars<br><br></span>
              <span class="col-md-10" style="font-size: 16px;">{{mars_data.mars_weather}}</span>
            </div>
            <div class="col-md-12">
              <br><br>
              <span  style="font-weight: bold; font-size: 18px; ">Mars Facts
              </span>
              <span>
              {{mars_data.fact_table | safe}}
            </span>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
      <h2>Mars Hemispheres</h2>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-6"  style= "float: left; width: 49%; padding: 5px;text-align: center;" >

        <div class="p-3 border bg-light" style="padding:10px; border: solid; border-radius: 5px; border-width: thin; border-color: #bb7439;">
          <img src="{{mars_data.hemisphere_image_url_1}}" style="width: 100%;">
          <h4>{{mars_data.hemisphere_image_title_1}}</h4>
        </div>
      </div>

      <div class="col-md-6"  style= "float: right; width: 49%; padding: 5px;text-align: center;" >

        <div class="p-3 border bg-light" style="padding:10px; border: solid; border-radius: 5px; border-width: thin; border-color: #bb7439;">
          <img src="{{mars_data.hemisphere_image_url_2}}" style="width: 100%;">
          <h4>{{mars_data.hemisphere_image_title_2}}</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6"  style= "float: left; width: 49%; padding: 5px;text-align: center;" >

        <div class="p-3 border bg-light" style="padding:10px; border: solid; border-radius: 5px; border-width: thin; border-color: #bb7439;">
          <img src="{{mars_data.hemisphere_image_url_3}}" style="width: 100%;">
          <h4>{{mars_data.hemisphere_image_title_3}}</h4>
        </div>
      </div>

      <div class="col-md-6"  style= "float: right; width: 49%; padding: 5px;text-align: center;" >

        <div class="p-3 border bg-light" style="padding:10px; border: solid; border-radius: 5px; border-width: thin; border-color: #bb7439;">
          <img src="{{mars_data.hemisphere_image_url_4}}" style="width: 100%;">
          <h4>{{mars_data.hemisphere_image_title_4}}</h4>
        </div>
      </div>
    </div>
   

   
</div>
        
<br> <br>  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
